<ng-container *ngIf="!loggedUser; else display">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        Username:
        <input type="text" [(ngModel)]="username">
      </li>
      <li class="nav-item">
        Password:
        <input type="password" [(ngModel)]="password" (keydown.enter)="login()">
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </li>
    </ul>
  </ng-container>

  <ng-template #display>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div *ngIf="loggedUser.isAdmin === 1; else customer">
          <span>Welcome Admin!
            {{loggedUser.first + " " + loggedUser.last}}</span>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </ng-template>

  <ng-template #customer>
    <div>
      <span>Welcome Customer! {{loggedUser.first + " " + loggedUser.last}}</span>
    </div>
  </ng-template>
