td{
    border: 1px solid black;
}
#rowId {
  width: 180px;
}
#rowSeatsTaken {
    width: 190px;
}
#rowTripFrom {
    width: 110px;
}
#rowTripTo {
    width: 100px;
}
#rowDeparture {
    width: 230px;
}
#rowArrival {
    width: 210px;
}
#rowPrice {
    width: 120px;
}