<!-- <table>   -->
  <tr>
    <td id="rowId">{{trip.id}}</td>
    <td id="rowSeatsTaken">{{trip.seatsTaken}}</td>
    <td id="rowTripFrom">{{trip.tripFrom}}</td>
    <td id="rowTripTo">{{trip.tripTo}}</td>
    <td id="rowDeparture">{{trip.departure}}</td>
    <td id="rowArrival">{{trip.arrival}}</td>
    <td id="rowPrice">{{trip.price | currency}}</td>
    <td>{{trip.plane.avgRating}}</td>
    <td> 
      <div *ngIf="!isLogin() || !isAdmin() ">{{trip.status}}</div> 
      <div *ngIf="isLogin() && isAdmin()"> 
        <label>Current Status: </label>
        <select [(ngModel)]="trip.status">
          <option value="On Time">On Time</option>
          <option value="Delayed">Delayed</option>
          <option value="Arrived">Arrived</option>
          <option value="Cancelled">Cancelled</option>
        </select> 
        <button type="button" (click)="updateStatus()" class="btn btn-info">Update</button> 
      </div>
    </td>
  </tr>
<!-- </table> -->

<div id="myModal" class="modal">
  <div class="modal-content">
      <p>Status changed!</p>
      <button type="button" id="okbtn" (click)="okHome()" class="btn btn-success center-block">Ok</button>
  </div>
</div>