td{
    border: 1px solid black;
}
#rowId {
  width: 100px;
}
#rowSeatsTaken {
    width: 120px;
}
#rowTripFrom {
    width: 80px;
}
#rowTripTo {
    width: 80px;
}
#rowDeparture {
    width: 160px;
}
#rowArrival {
    width: 160px;
}
#rowPrice {
    width: 80px;
}