<!-- <app-form-list></app-form-list> -->

Number of Seats: {{form2?.numSeats}}
<br>
Number of bags: {{form2?.numBags}}
<br>
Plane Class: {{form2?.planeClass}}
<br>
Round Trip: {{isRound}}


<!-- Number of seats: <input type="number" min="1" required [(ngModel)]="form.numSeats" name="numSeats">
<br>
Number of bags: <input type="number" min="0" required [(ngModel)]="form.numBags" name="numBags">
<br>
<label>Plane Class:</label>
<select required [(ngModel)]="selectedClass" name="selectedClass" (change)="selectedItem()">
    <option *ngFor="let item of class" [ngValue]="item">{{item.name}}</option>
</select>
<br>
<input type="checkbox" [(ngModel)]="isChecked" name="isChecked" (change)="assignValue($event)" />
<label>Round Trip</label>
<br> -->