<div id='labelFrom'>From:&nbsp;&nbsp;</div>
<div id='valueFrom'>{{trip?.tripFrom}}</div>
<br>
<div id='labelTo'>To:&nbsp;&nbsp;</div>
<div id='valueTo'>{{trip?.tripTo}}</div>
<br>
<div id='labelDeparture'>Departure Time:&nbsp;&nbsp;</div>
<div id='valueDeparture'>{{trip?.departure}}</div>
<br>
<div id='labelArrival'>Arrival Time:&nbsp;&nbsp;</div>
<div id='valueArrival'>{{trip?.arrival}}</div>
<br>
<div id='labelRound'>Round Trip:&nbsp;&nbsp;</div>
<div id='valueRound'>{{isRound}}</div>
<br><br>
<div id='labelSeats'>Seats:&nbsp;&nbsp;</div>
<div id='valueSeats'>{{form?.numSeats}}</div>
<div id='priceSeats' class='price'>{{seatsPrice | currency}}</div>
<br>
<div id='labelBags'>Bags:&nbsp;&nbsp;</div>
<div id='valueBags'>{{form?.numBags}}</div>
<div id='priceBags' class='price'>{{bagsPrice | currency}}</div>
<br>
<div id='labelClass'>Plane Class:&nbsp;&nbsp;</div>
<div id='valueClass'>{{form?.planeClass}}</div>
<div id='priceClass' class='price'>{{classPrice | currency}}</div>
<br>
<br>
<div id='labelTotal'>Total Price:&nbsp;&nbsp;</div>
<div id='valueTotal' class='price'>{{totalPrice | currency}}</div>

<br><br>
<button type="button" id="paybtn" (click)="payFlight()" class="btn btn-success">Pay for Flight</button>
&nbsp;
<button type="button" id="cancelbtn" (click)="cancelPayment()" class="btn btn-warning">Cancel Payment</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p>You have successfully booked a flight!</p>
        <button type="button" id="okbtn" (click)="okHome()" class="btn btn-success center-block">Ok</button>
    </div>
</div>