
<div class="container border">
    <div>
        <span class="font-weight-bold">Form #</span>{{ message.id }} 
        <br>
        <span class="font-weight-bold">Type: </span>{{ message.type }} 
        <br>
        <span class="font-weight-bold">Message: </span>{{ message.quest }}
        <br>
        <!-- the btn will have different options if it is a loyalty request -->
        <button class="btn btn-primary" (click)="redirectToUpdate()">Reply</button>
    </div>
</div>

<!-- ^ These need to be combined v -->

<div id="makingMessage">
    <h3>What would you like to ask, {{user.first + " " + user.last}}?</h3> <br>
    <!-- Type of Question: <input type="text" [(ngModel)]="login.pswrd"> <br> -->
    <label >Type of Event:</label>
    <select [(ngModel)]="message.type">
      <option selected>Choose...</option>
      <option value="Loyalty Request">Loyalty Status Request</option>
      <option value="Question">Customer Support Question</option>
    </select>
    Question/Request Info: <input type="text" [(ngModel)]="message.quest"> <br>
    <button type="button" (click)="addMessage()">Create Message</button>
</div>

