table {
    border: 1px solid black;
    width: 48.2%;
}
#thNo {
    width: 13.2%;
}
#thSeatsTaken {
    width: 14.8%;
}
#thFrom {
    width: 12.1%;
}
#thTo {
    width: 12.2%;
}
#thDeparture {
    width: 19.7%;
}
#thArrival {
    width: 19.5%;
}