<div>
    Plane Model:
    <select id="idPlaneModel" required [(ngModel)]="selectedModel" name="selectedModel" (change)="selectedItem()">
        <option *ngFor="let item of planes" [ngValue]="item">{{item.model}}</option>
    </select>
    <br>
    Seats Taken:
    <input type="number" min="0" id=idSeats required [(ngModel)]="trip.seatsTaken">
    <br>
    From:
    <input type="datetime-local" id=idFrom required [(ngModel)]="trip.tripFrom">
    <br>
    To:
    <input type="datetime-local" id=idTo required [(ngModel)]="trip.tripTo">
    <br>
    Departure Time:
    <input type="text" id=idDeparture required [(ngModel)]="trip.departure">
    <br>
    Arrival Time:
    <input type="text" id=idArrival required [(ngModel)]="trip.arrival">
    <br>
    Price:
    <input type="text" id=idPrice required [(ngModel)]="trip.price">
    <br><br>
    <button type="button" id="submitflightbtn" (click)="submitFlight()"
        class="btn btn-success">Submit</button>
</div>