<!-- <div *ngIf="form"> -->
    <h1>Add new trip</h1>
    <div>
    <form (ngSubmit)="onSubmit()" #tripForm="ngForm">
      From: <input type="text" min="1" required [(ngModel)]="trip.tripForm" name="fromCity">
      <br>
      To: <input type="text" min="1" required [(ngModel)]="trip.tripTo" name="toCity">
      <br>
      Departure:<input type="text" min="1" required [(ngModel)]="trip.peparture" name="depTime">
      <br>
      Arrival:<input type="text" min="1" required [(ngModel)]="trip.prrival" name="arrTime">
      <br>
      Price:<input type="text" min="1" required [(ngModel)]="trip.price" name="priceTrip">
      <br>
      Plane Id:<input type="number" min="1" required [(ngModel)]="trip.plane.id" name="planeId">
      <br>
      <button type="button" [disabled]="!tripForm.trip.valid" id="submitbtn" (click)="addTrip()"
        class="btn btn-success">Submit</button>
    </form>
  </div>
