<table id="t01">  
    <tr>
      <td>{{logintrip.id}}</td>
      <td>{{logintrip.userId}}</td>
      <td>{{logintrip.userName}}</td>
      <td>{{logintrip.model}}</td>
      <td>{{logintrip.tripFrom}}</td>
      <td>{{logintrip.tripTo}}</td>
      <td>{{logintrip.departure}}</td>
      <td>{{logintrip.arrival}}</td>
      <td>{{logintrip.numSeats}}</td>
      <td>{{logintrip.isRound}}</td>
      <td>{{logintrip.tripCost | currency}}</td>   
      <button class="btn btn-danger" (click)="cancelFlight()">Cancel Reservation</button>
    </tr>
    
  </table>