<table id="t01">  
    <tr>
      <td>{{logintrip.userId}}</td>
      <td>{{logintrip.userName}}</td>
      <td>{{logintrip.model}}</td>
      <td>{{logintrip.tripFrom}}</td>
      <td>{{logintrip.tripTo}}</td>
      <td>{{logintrip.departure}}</td>
      <td>{{logintrip.arrival}}</td>
      <td>{{logintrip.numSeats}}</td>
      <td>{{logintrip.isRound}}</td>
      <td>{{logintrip.tripCost | currency}}</td> 

      <ng-container
          *ngIf="reviewExists(); then showReview; else reviewButton">
      </ng-container>

      <ng-template #showReview>
          <td>{{review.rating}}</td>
      </ng-template>

      <ng-template #reviewButton>
          <td><button type="button" class="btn btn-success" (click)="goToReview()">Review</button>
          <a [routerLink]="['/review_button', logintrip.model]"></a></td>
      </ng-template>

    </tr>
  </table>