<div *ngIf="form">
  <form (ngSubmit)="onSubmit()" #tripForm="ngForm">
    Plane Number: <input type="number" min="1" required [(ngModel)]="tripId" name="planeNum">
    <br>
    Number of seats: <input type="number" min="1" required [(ngModel)]="form.numSeats" name="numSeats">
    <br>
    Number of bags: <input type="number" min="0" required [(ngModel)]="form.numBags" name="numBags">
    <br>
    <label>Plane Class:</label>
    <select required [(ngModel)]="selectedClass" name="selectedClass" (change)="selectedItem()">
      <option *ngFor="let item of class" [ngValue]="item">{{item.name}}</option>
    </select>
    <br>
    <input type="checkbox" [(ngModel)]="isChecked" name="isChecked" (change)="assignValue($event)" />
    <label>Round Trip</label>
    <br>
    <button type="button" [disabled]="!tripForm.form.valid" id="submitbtn" (click)="addForm()"
      class="btn btn-success">Submit</button>
  </form>
</div>